# NEVER commit real secrets!
secrets/*.txt
secrets/*.env

/home/*/data/


.DS_Store
Thumbs.db

*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-*

*.log
logs/

*.tmp
*.temp

*.tar
*.gz

*.pem
*.key
*.crt
*.csr

core
